:root {
    --heightTarget: 80px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
    padding: 50px;
}

.col {
    width: 250px;
    margin: 0px auto;
    list-style-type: none;
    position: relative;
}

.col-header {
    background: rgb(44, 44, 64);
    height: 150px;
    position: relative;
}

.col-header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to bottom, rgba(44,44,64,0), rgba(44,44,64,0.8));
}
.col-header-img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.col-header-timer {
    position: absolute;
    bottom: 10px;
    border-radius: 3px;
    background: rgb(44, 44, 64);
    color: rgba(255,255,255, 0.5);
    padding: 0 6px;
    margin-left: 5px; 
}

.loader {
    position: absolute;
    bottom: 0;
}
.loader-bar {
    position: absolute;
}

.col-text-img{
    width: 40px;
    height: 40px;
}
.col-text {
    padding-top: 10px; 
    background: rgb(44, 44, 64);
    display: flex;
    justify-content: space-between;
}

.col-text-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    line-height: 0.7;
}

.col-text-channel, 
.col-text-category {
    color: rgba(255,255,255, 0.5);
}

.over-top {
    background:silver;
    width: 100%;
    height: 0;
    transition: height 0.5s;
}

.over-top-target {
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: var(--heightTarget);
    transition: height 0.5s;
    background: blue;
    opacity: 0;
    z-index: 1;
}

.over-bottom {
    background:silver;
    width: 100%;
    height: 0;
    transition: height 0.5s;
}

.over-bottom-target {
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: var(--heightTarget);
    transition: height 0.5s;
    background: red;
    opacity: 0;
}
