:root {
  --heightTarget: 80px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6em;
  padding: 50px;
}

.col {
  width: 250px;
  margin: 0px auto;
  list-style-type: none;
  position: relative;
}

.col-header {
  background: rgb(44, 44, 64);
  height: 150px;
  position: relative;
}

.col-header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom,
      rgba(44, 44, 64, 0),
      rgba(44, 44, 64, 0.8));
}

.col-header-img {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.col-header-timer {
  position: absolute;
  bottom: 10px;
  border-radius: 3px;
  background: rgb(44, 44, 64);
  color: rgba(255, 255, 255, 0.5);
  padding: 0 6px;
  margin-left: 5px;
}

.loader {
  position: absolute;
  bottom: 0;
}

.col-text-img {
  width: 40px;
  height: 40px;
}

.col-text {
  padding-top: 10px;
  background: rgb(44, 44, 64);
  display: flex;
  justify-content: space-between;
}

.col-text-title {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  line-height: 0.7;
}

.col-text-channel,
.col-text-category {
  color: rgba(255, 255, 255, 0.5);
}

.over-top,
.over-bottom {
  background: rgba(192, 192, 192, 0.3);
  width: 100%;
  height: 0;
  transition: height 0.5s;
}

.over-top-target,
.over-bottom-target {
  position: absolute;
  right: 0;
  width: 100%;
  height: var(--heightTarget);
  transition: height 0.5s;
  opacity: 0;
  z-index: 1;
}

.over-top-target {
  top: 0;
  background: rgb(52, 52, 158);
}

.over-bottom-target {
  bottom: 0;
  background: rgb(255, 0, 0);
}

.animationDropFail {
  animation: shake 0.6s;
}

.animationDrop {
  overflow: hidden;
  animation: zoom 0.8s;
  z-index: 2;
}

.animationDrop:after {
  content: '';
  position: absolute;
  top: -50%;
  right: -70%;
  bottom: -50%;
  left: -70%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.8) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5px, 100px);
  animation: sheen 0.6s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes zoom {
  100% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.3)
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#draggableCursor {
  position: absolute;
  border-radius: 5px 5px 0 0;
  top: 10;
  left: 10;
  width: 250px;
  height: 210px;
  background: rgba(255, 0, 0, 0);
  animation: color 10s infinite;
  z-index: 1;
}

@keyframes color {
  0% {
    box-shadow: 0 0 35px #d65c97;
  }

  5% {
    box-shadow: 0 0 35px #5cd666;
  }

  10% {
    box-shadow: 0 0 35px #a55cd6;
  }

  15.0% {
    box-shadow: 0 0 35px #5c7cd6;
  }

  20% {
    box-shadow: 0 0 35px #d65c7a;
  }

  25% {
    box-shadow: 0 0 35px #81d65c;
  }

  30.0% {
    box-shadow: 0 0 35px #835cd6;
  }

  35% {
    box-shadow: 0 0 35px #685cd6;
  }

  40% {
    box-shadow: 0 0 35px #5c9dd6;
  }

  45% {
    box-shadow: 0 0 35px #5cd670;
  }

  50% {
    box-shadow: 0 0 35px #d6625c;
  }

  55.0% {
    box-shadow: 0 0 35px #d6835c;
  }

  60.0% {
    box-shadow: 0 0 35px #d6605c;
  }

  65% {
    box-shadow: 0 0 35px #be5cd6;
  }

  70% {
    box-shadow: 0 0 35px #5c8dd6;
  }

  75% {
    box-shadow: 0 0 35px #95d65c;
  }

  80% {
    box-shadow: 0 0 35px #d69d5c;
  }

  85.0% {
    box-shadow: 0 0 35px #d65c81;
  }

  90% {
    box-shadow: 0 0 35px #5cd666;
  }

  95% {
    box-shadow: 0 0 35px #d67e5c;
  }

  100% {
    box-shadow: 0 0 35px #64d65c;
  }
}